{% load static %}
<!DOCTYPE html>
<html>
    <script>
        document.getElementById("target-button").addEventListener("click", function() {
            location.href = "target-page.html";
        });
    </script>
    <script>
        function goBack() {
          if (window.history.length > 1) {
            window.history.back();
          } else {
            alert("No history to go back to!");
          }
        }
      </script>
      <script>
        function handleLoginForm(event) {
            event.preventDefault();
            // Enter validation later
            location.href = "verify-page.html";
        }
      </script>
    <head>
        <meta charset="utf-8" />
        <title>EFL</title>
        <link rel="stylesheet" href="{% static 'verify-page.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url 'home' %}">
                <img src="{% static 'logo.svg' %}" class="profile-img">
            </a>
            <nav>
                <ul>
                    <li><button onclick="location.href='{% url "home" %}'">Home</button></li>
                    <li><button onclick="location.href='{% url "about" %}'">About</button></li>
                    <li><button onclick="location.href='{% url "contact" %}'">Contact</button></li>
                    <li><button onclick="location.href='{% url "data" %}'">Dashboard</button></li>
                </ul>
                <h1 class="site-name">EFL</h1>
            </nav>
        </header>
        <main>
            <button class="back-button" onclick="goBack()"><img src="{% static 'backarrow.png' %}" class="BBH"></button>
            <div class="content_wrapper">
                <div class="titles">
                    <h1 class="page-name"><b>Verified</b></h1>
                    <img src="{% static 'verify.png' %}" class="profile-img">
                    <h2 class="enter-sub">Your account has been created and an email has been sent to verify!</h2>
                    <div class="container">
                        <button class="middle" id="Login" onclick="location.href='{% url "loginpage" %}'">Login For Employees</button>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>